<h1>レコードを編集する</h1>

<%= form_with model: @vinyl, local: true, multipart: true do |form| %>
  <div>
    <%= form.label :title, "タイトル" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :artist, "アーティスト" %><br>
    <%= form.text_field :artist %>
  </div>

  <div>
    <%= form.label :review, "レビュー" %><br>
    <%= form.text_area :review %>
  </div>

  <div>
    <%= form.label :image, "ジャケット画像" %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "更新する" %>
  </div>
<% end %>
